
$skin-1:#ffffff;
$skin-5:#1ABB9C;
$skin-2:#000000;
$skin-3:#1ABB9B;
$skin-4:#0D5D4D;
$skin-5:#F7F7F7;
$skin-6:#2A3F54;

$color-primary-0: #1ABB9B;	// Main Primary color */
$color-primary-1: #65D7C1;
$color-primary-2: #3CC7AC;
$color-primary-3: #00A887;
$color-primary-4: #007D65;