
@import "skin";
/* color theme */
$shade-1: $skin-1;
$shade-2: #000000;
$shade-3:$skin-3;
$shade-4:$skin-4;


$main-menu-height: 70px;



$small-menu-height: 50px;
$main-logo-size:40 + ($main-menu-height * 3) ;

$main-menu-active-backgruond-color:$shade-1;
$main-menu-active-color:$shade-3;

$main-menu-background-color:$shade-3;
$small-menu-background-color:$shade-3;

@mixin small-menu {
  color: $shade-3;
  background: $shade-1;
}
@mixin small-menu-hover {
  color: $shade-1;
  background: $shade-3;
}
#main-manu
{
    width: 100%;
    height: $main-menu-height;
    box-sizing: border-box;
    clear: both;
    background:$main-menu-background-color;
    display: flex;
	margin-top:10px;

	.menu-active
	{
		background-color:$main-menu-active-backgruond-color !important;
		color: $main-menu-active-color !important;
	}

    .logo-wrapper
    {
        padding: 0px;
        width: 400px;
        height: $main-menu-height;
        box-sizing: border-box;

        .logo-container
        {
            max-width: $main-logo-size;
            width: 100%;
            height: $main-menu-height;
            margin: 0px auto;

            img
            {
                min-width: 0px;
                max-width: inherit;
                width: 100%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .menu-wrapper
    {
        flex-grow: 1;
        height: $main-menu-height;
        width: auto;
        text-align: center;
        box-sizing: border-box;

        .menu-container
        {
            min-width: 600px;
            max-width: 700px;
            width: 100%;
            height: $main-menu-height;
            display: flex;
            box-sizing: border-box;
            margin: 0 auto;
            .Li
            {
                background-color: $shade-3;
                flex: 1;
                box-sizing: border-box;
                /*border-left: 1px solid black;*/
                line-height: $main-menu-height;

                a
                {
                    display: block;
                    text-decoration: none;
                    color: $shade-1;
                    &:hover
                    {
                        background-color: $shade-1;
                        color: $shade-3;
                    }
					
                }

                &:first-child
                {
                    border: none;
                }
            }
        }
    }

    .small-menu
    {
        display: none;
        height: $small-menu-height;
        background-color: $small-menu-background-color;
        float: right;
        cursor: pointer;
        text-align: center;
		clear: both;
		width:100%;
		
		.small-menu-logo
			{
				flex-grow:1;
				img
				{
					min-width: 50px;
					max-width: 70px;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					margin-left:10px;
				}
			}
		
		
        span
        {
            font-size: 30px;
            line-height: $small-menu-height;
            font-size: 35px;
            color: $shade-1;
			width:60px;
        }
    }

}



@media (max-width: 992px)
{
    #main-manu
    {
        display: inline-block;
        height: auto;
		
        .logo-wrapper
        {
            width: 100%;
            clear: both;
        }

        .menu-wrapper
        {
            clear: both;

            .menu-container
            {
                width: 100%;

                .Li
                {
                    border: none;
                }
            }
        }
    }
}


@media (max-width: 768px)
{
    #main-manu
    {
        height: $small-menu-height;
		background: $small-menu-background-color;
        .logo-wrapper
        {
            display:none;
        }

        .menu-wrapper
        {
            height: auto;
            display: none;

            .menu-container
            {
                display: inline-block;
                max-width: 100%;
                min-width: 100%;
                height: auto;
				background:$shade-1;
                .Li
                {
                    border: none;
                    /*border-bottom: 1px solid black;*/
                    height: $small-menu-height;
                    line-height: $small-menu-height;
					
					
                    &:first-child
                    {
                        /*border-bottom: 1px solid black;*/
                    }

                    &:last-child
                    {
                        border: none;
                    }
					a
					{
						@include small-menu;
						&:hover
						{
							 @include small-menu-hover;
						}
					}
                }
            }
        }

        .small-menu
        {
            display: flex;
        }
    }
    /* Logo */
}


/* top bar start */ 


$shade-1:#ffffff;
$shade-2:#000000;
$shade-3:#5A4181;
$shade-4:#0269C2;
$size-1:12px;

$SetHeight:40px;
@mixin color-theme()
{
	 background-color: $shade-3;
	 color: $shade-1
}

@mixin SetHeight()
{
	 #top-bar
	 {
		
		 height:$SetHeight;
	 }
	 .top-left-bar , .top-right-bar
	 {
		 line-height: $SetHeight;
	 }
	 .btn-primary
	{
		 font-size:$SetHeight/4;
	}
	
}


#top-bar
{
	width:100%;
	height:auto;
	clear:both;
	box-sizing:border-box;
	@include color-theme();


	.btn-primary
	{
		background-color: $shade-1;
		color: $shade-3;
		outline:none;
	}
	.top-left-bar
	{
		 @include color-theme();
		 p{padding:0px; margin:0px;}
	}
	.top-right-bar
	{
		@include color-theme();
		 text-align:right;
		 p{padding:0px; margin:0px;}
	}
}
@include SetHeight();


@media (max-width:768px)
{
	 #top-bar
{
	display:none;
	height:auto;
	
	@include color-theme();

	.top-left-bar
	{
		 @include color-theme();
		 text-align:center;
		 
	}
	.top-right-bar
	{
		@include color-theme();
		 text-align:center;
	
	}
}
}

