
@import "skin";
/* color theme */
$rgb-dark-1: rebeccapurple;
$rgb-dark-2: red;
$rgb-dark-3: blue;
$rgb-shade-2: orenge;
$shade-3: $skin-3;
$shade-4: $skin-1;
$main-menu-active-backgruond-color:$shade-4;
$main-menu-active-color:$shade-3;
/*do not down main menu height you can up it  cause logo will not align properly */
$main-menu-height: 70px;
$small-menu-height: 60px;
$main-logo-size: 260px;

#main-manu
{
    width: 100%;
    height: $main-menu-height;
    box-sizing: border-box;
    clear: both;
    background: $shade-3;
    display: flex;
	.menu-active
	{
		background-color:$main-menu-active-backgruond-color !important;
		color: $main-menu-active-color !important;
	}

    .logo-wrapper
    {
        padding: 0px;
        width: 400px;
        height: $main-menu-height;
        box-sizing: border-box;

        .logo-container
        {
            max-width: $main-logo-size;
            width: 100%;
            height: $main-menu-height;
            margin: 0px auto;

            img
            {
                min-width: 150px;
                max-width: inherit;
                width: 100%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .menu-wrapper
    {
        flex-grow: 1;
        height: $main-menu-height;
        width: auto;
        text-align: center;
        box-sizing: border-box;

        .menu-container
        {
            min-width: 600px;
            max-width: 700px;
            width: 100%;
            height: $main-menu-height;
            background-color: $shade-3;
            display: flex;
            box-sizing: border-box;
            margin: 0 auto;
            
			    
            .Li
            {
                background-color: $rgb-shade-2;
                flex: 1;
                box-sizing: border-box;
                /*border-left: 1px solid black;*/
                line-height: $main-menu-height;

                a
                {
                    display: block;
                    text-decoration: none;
                    color: $shade-4;
                    &:hover
                    {
                        background-color: $shade-4;
                        color: $shade-3;
                    }
                }



                &:first-child
                {
                    border: none;
                }
            }
        }
    }

    .small-menu
    {
        display: none;
        height: $small-menu-height;
        width: 60px;
        background-color: $shade-3;
        float: right;
        cursor: pointer;
        text-align: center;

        span
        {
            font-size: 30px;
            line-height: $small-menu-height;
            color: white;
            font-size: 35px;
            color: $shade-4;
        }
    }
}



@media (max-width: 992px)
{
    #main-manu
    {
        display: inline-block;
        height: auto;

        .logo-wrapper
        {
            width: 100%;
            clear: both;
        }

        .menu-wrapper
        {
            clear: both;

            .menu-container
            {
                width: 100%;

                .Li
                {
                    border: none;
                }
            }
        }
    }
}


@media (max-width: 768px)
{
    #main-manu
    {
        height: $small-menu-height;

        .logo-wrapper
        {
            display: none;
        }

        .menu-wrapper
        {
            height: auto;
            display: none;

            .menu-container
            {
                display: inline-block;
                max-width: 100%;
                min-width: 100%;
                height: auto;

                .Li
                {
                    border: none;
                    /*border-bottom: 1px solid black;*/
                    height: $small-menu-height;
                    line-height: $small-menu-height;

                    &:first-child
                    {
                        /*border-bottom: 1px solid black;*/
                    }

                    &:last-child
                    {
                        border: none;
                    }
                }
            }
        }

        .small-menu
        {
            display: block;
            clear: both;
        }
    }
    /* Logo */
}
