

/*
$skin-1:#ffffff;
$skin-2:#000000;
$skin-3:#05a6ae;
$skin-4:#F0F0F0;
$skin-5:#7C7C7C;
$skin-6:#00AFF0;
$skin-7:#694E92;
*/

$skin-1:#ffffff;
$skin-2:#000000;
$skin-3:#694E92;
$skin-4:#F0F0F0;
$skin-5:#7C7C7C;
$skin-6:#00AFF0;



$Header-background:$skin-3;
$map-background:$skin-3;
$plan-header-background:$skin-3;

$slider-heading:$skin-1;
$slider-text:$skin-1;
$page-heading-color:$skin-3;

$service-logo: $skin-3;

$plan-btn-background-color:$skin-3;
$plan-btn-color:$skin-1;